name: Deploy to GCP


on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
    
    steps:
     - name: Checkout
       uses: actions/checkout@v4

     - name: Authenticate to Google Cloud
       uses: google-github-actions/auth@v2
       with:
         token_format: "acess_token"
         # TODO -> Project_NUMBER
         workload_identity_provider: "projects/PROJECT_NUMBER/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
         # TODO -> Project_ID
         service_account: "github-deployer@<YOUR_PROJECT_ID>.iam.gserviceaccount.com"

     - name: Set up Google Cloud SDK
       uses: google-github-actions/setup-gcloud@v1
       
     - name: Setup Terraform
       uses: hashicorp/setup-terraform@v1
       with:
         cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

     - name: Deploy Terraform
       working_dir: ./terraform/
       run: |
        terraform init
        terraform plan